.price-tag_small {
    font-size: 12px;
    vertical-align: middle;
    margin: 0px 5px;
}

.marq {
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
    font-size:15px
}

.price-tag {
    font-size: 30px;
}
.price-tagq {
    font-size: 35px;
}
.price-tag_discount {
    font-size: 18px;
    vertical-align: text-top;
}
.service-body{
    font-size: 30px;
}
.service-description {
    font-size: 18px;
    vertical-align: middle;
    margin: 0px 5px;
}
/******************************   Current Plan Css   **********************************/
.CARD {
    position:relative;
    margin-top:5%;
    border-radius:5px;
    box-shadow: 0 4px 10px -5px #777777;
    border: 1px solid #cccccc;
}
.CARD-title-small {
    position:absolute;
    width:30%;
    min-height: 80px;
    padding: 10px 10px 10px;
    max-height: 100px;
    top:-50px;
    overflow: auto;
    left:5%;
    background-color: #9c27b0;
    color: #fff;
    border-radius:5px;
    box-shadow: 0 7px 10px -5px #777777;
    transition-duration: 200ms;
}
.CARD:hover .CARD-title-small {
    top:-70px;
    transition-duration: 200ms;
}
.CARD:hover .CARD-title {
    top:-70px;
    transition-duration: 200ms;
}
.CARD-title {
    position:absolute;
    color: #fff;
    width:80%;
    min-height: 80px;
    padding: 10px 10px 10px;
    max-height: 100px;
    top:-50px;
    overflow: auto;
    left:10%;
    background-color:#00acc1;
    border-radius:5px;
    box-shadow: 0 7px 10px -5px #777777;
    transition-duration: 200ms;
}
.BG-primary {
    background: linear-gradient(60deg, #ab47bc, #8e24aa) !important;
}
.BG-info {
    background: linear-gradient(60deg, #3adaee, #00d3ee) !important;
}
.BG-success {
    background: linear-gradient(60deg, #68ee6a, #00ee08) !important;
}
.BG-danger {
    background: linear-gradient(60deg, #ef595b, #e53935) !important;
}
.BG-warn {
    background: linear-gradient(60deg, #ffbc54, #ffa21a) !important;
}
.BG-dark {
    background: linear-gradient(60deg, #403d3e, #000000) !important;
    color: #fff;
}
.BG-light {
    background: linear-gradient(60deg, #ffffff, #b4afb0) !important;
    color: #202020;
}
.CARD-body {
    margin-top:25px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}
@media screen and (max-width: 576px) {
    .common {
        width: 30% !important;
    }
    .guide-plan {
        float: left;
        width: 100%;
    }
}
@media screen and (min-width: 576px) {
    .common {
        width: 10% !important;
    }
    .guide-plan {
        float: left;
        width: 49%;
    }
}